# Managed by Ansible

# Dual nic if1 - to WAN
auto enp7s0f1
iface enp7s0f1 inet manual

# WAN bridge
auto vmbr0
iface vmbr0 inet static
    bridge_ports enp7s0f1
    bridge_stp off
    bridge_fd 0
    address 192.168.0.253/24
	gateway 192.168.0.1

##################

# Built-in NIC
allow-hotplug enp8s0
auto enp8s0
iface enp8s0 inet manual

# LAN bridge
auto vmbr1
iface vmbr1 inet static
    address 10.0.0.2/24
    bridge_ports enp8s0
    bridge_stp off
    bridge_fd 0
    bridge-vlan-aware yes
	post-up ip route add 10.0.0.0/8 via 10.0.0.1 dev vmbr1
    bridge-vids 2-4094

##################

auto lo
iface lo inet loopback

iface enp7s0f0 inet manual